/* =========================
   landingPage.css
   ========================= */
   body {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff; /* Default text color */
    margin: 0;
    padding: 0;
    background-color: #0f1c2e;
}

/* Shared container styling */
.container {
    width: 84%;
    margin: 0 auto;
    padding: 0;  
    box-sizing: border-box;
}

.headline-container {
    width: 84%;
    max-width: 1200px;
    margin: 34px auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

/* Secondary Button */
.secondaryBTN {
    vertical-align: middle;
    background-color: transparent;  /* Transparent */
    color: white;  
    padding: 8px 12px;
    border: 2px solid white;  /* White border */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 2px;
}

.pil {
    font-size: 20px;
    vertical-align: middle;
    transform: rotate(0deg); /* eller 180deg for oppover */
    transition: transform 0.3s ease;
  }


.secondaryBTN:hover {
    background-color: white;  /* Fill color on hover */
    color: #0f1c2e;  
}

/* Card Container */
.card-container {
    width: 100%;
    margin-top: 10px; /* Reduced margin to move closer */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.category-row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 16px;
}

/* Card Styles */
.card {
    background-color: #FFF;
    border-radius: 2px;
    padding: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    cursor: pointer !important; /* Make sure it's clickable */
    pointer-events: auto !important;
    transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
    transform: scale(1.05); /* Slight zoom effect */
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2);
}

.card .image-placeholder {
    height: 100px;
    background: #BEBEBE;
    margin-bottom: 15px;
}

h2 {
    color: #333;
    margin-bottom: 10px;
}

p {
    color: #333;
    font-size: 16px;
}

.card-text {
    color: #333;
}

/* Responsive Design */
@media (max-width: 768px) {
    .category-row {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 100%;
        margin-bottom: 20px;
    }
}